.header {
	max-width: 960px;
	margin: 0 auto;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


.header-menu{
  display: none;
}
.header .header-menu button{
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.header-menu img{
  padding-right: 0.5em;
  height: 30px;
}


.header-img img{
  height: 60px;
  width: 140px;
}


.header-form{
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.header form.header-form input{
  width: 100%;
}
.header form.header-form input,
.header form.header-form button{
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #000;
  background-color: #fff;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5em;
}
.header form.header-form button img{
  cursor: pointer;
  height: 30px;
}


.header-account{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-account button{
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.header-account img{
  padding-right: 0.5em;
  height: 30px;
}
.header-account p{
  color: rgb(94, 95, 95);
}


.header-cart{
  display: flex;
  justify-content: space-between;
}
.header .header-cart button{
  border: none;
  background-color: #fff;
  cursor: pointer;
  padding: 0;
}
.header .header-cart img{
  padding-right: 0.5em;
  height: 30px;
}
.header .header-cart .value{
  height: 30px;
  width: 30px;
  background-color: #5abeb8;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s ease;
  padding-top: 9%;
  color: #fff;
  font-weight: bold;
}


.header .header-language {
  display: flex;
  justify-content: space-between;
  border-left: 2px solid rgb(167, 165, 165);
}
.header .header-language button{
  border: none;
  background-color: #fff;
  padding: 0 1em;
  cursor: pointer;
}
.header .header-language button img{
  height: 30px;
  border-radius: 30%;
}


@media (max-width: 860px) {
	.header {
		padding-left: 1em;
		padding-right: 1em;

	}

  .header .header-menu {
    display: flex;
		padding-right: 1em;
    /*padding-left: 1em;*/
	}

  .header .header-menu button{
    padding-left: 0;
  }

  .header .header-img img{
    height: 50px;
    width: 100px;
  }
  .header .header-img{
    padding-top: 1em;
    padding-bottom: 1em;
	}
  .header .header-img img{
    margin: 0px auto;
  }

	.header .header-form{
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
	}
  .header-account,
  .header-language{
    display: none !important;
  }

  .header .header-cart{
    padding-top: 1em;
    padding-bottom: 1em;
	}

  .header .header-menu:nth-child(1) {
		order: 1;
	}
	.header .header-img:nth-child(2) {
		order: 2;
	}
	.header .header-form:nth-child(3) {
		order: 4;
	}
  .header .header-cart:nth-child(5) {
		order: 3;
	}

}

