<header class="header">

  <div class="header-menu">
    <button type="submit"><img src="../../assets/img/bars-solid.svg" alt="menu"></button>
  </div>


  <div class="header-img">
    <img src="../../assets/img/logo.jpg" alt="Sobre 1">
  </div>

  <form class="header-form">
    <input type="text" placeholder="O que está procurando?" name="search">
    <button type="submit"><img src="../../assets/img/search-solid.svg" alt="search"></button>
  </form>

  <div class="header-account">
    <button> <img src="../../assets/img/user-circle-solid.svg" alt="user"/></button>

    <p>Minha Conta</p>
  </div>

  <div class="header-cart">
    <button type="submit"> <img src="../../assets/img/shopping-cart-solid.svg" alt="cart"></button>

    <div class="value">1</div>
  </div>

  <div class="header-language">
    <button type="submit"><img src="../../assets/img/brasil.png" alt="search"></button>
    <button type="submit"><img src="../../assets/img/espanha.png" alt="search"></button>
    <button type="submit"><img src="../../assets/img/reino-unido.png" alt="search"></button>
  </div>


  <!--
  <nav class="menu-nav">
      <ul>
          <li><a href="#sobre">Sobre</a></li>
          <li><a href="#produtos">Produtos</a></li>
          <li><a href="#preco">Preço</a></li>
          <li><a href="#qualidade">Qualidade</a></li>
      </ul>
  </nav>-->
</header>
