<footer class="footer">
  <div class="footer-box">


    <div class="address">

      <div class="address-title">
        <h1>Localização</h1>
        <div class="address-barra"></div>
      </div>

      <div class="address-content">
        <div class="address-1">
          <ul>
            <li>São Paulo</li>
            <li>Rua do Rócio, 423/1801</li>
            <li>Vila Olímpia-SP</li>
            <li>04552-000</li>
            <li>+55 11 3333 3333</li>
          </ul>
        </div>
        <div class="address-2">
          <ul>
            <li>Rio de Janeiro</li>
            <li>Vol. da Pátria, 301/702</li>
            <li>Botafogo-RJ</li>
            <li>22270-000</li>
            <li>+55 21 3333 3333</li>
          </ul>
        </div>
      </div>

    </div>

    <div class="footer-btn">
      <div>
        <button>
          <img src="../../assets/img/envelope-solid.svg" alt="envelope" style="margin-right: 2em;">
          <p>ENTRE EM CONTATO</p>
        </button>
      </div>
      <div>
        <button>
          <img src="../../assets/img/headset-solid.svg" alt="headset">
          <p>FALE COM O NOSSO CONSULTOR ONLINE</p>
        </button>
      </div>
    </div>

    <div class="footer-creators">
      <div>
        <img src="../../assets/img/CreatedByProfit.png" alt="">
      </div>
      <div>
        <img src="../../assets/img/PoweredByVtex.png" alt="">
      </div>
    </div>

  </div>
</footer>
